* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #1f2020; /* Novo fundo */
  color: #e5d0e2;
  margin: 0;
  padding: 0;
}

