/* Estilo para a seção do Blog */
.blog-section {
    background-color: inherit; /* Mesma cor de fundo do restante do projeto */
    padding: 20px 20px 60px;
    text-align: center;
  }

  .blog-section h2 {
    color: #36302A; /* Mesma cor usada para os h1 */
    font-size: 40px; /* Tamanho do título */
    text-align: center; /* Centraliza o título */
    position: relative; /* Necessário para posicionar a linha */
}

  .blog-section h2::after {
    content: ""; /* Cria a linha */
    display: block;
    width: 5%; /* Ajuste a largura da linha */
    height: 2px; /* Espessura da linha */
    background-color: #36302A; /* Cor da linha */
    margin: 10px auto 0; /* Espaçamento entre o botão e a linha */
  }
  
  .blog-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: black; /* Título em branco */
  }
  
  .blog-posts {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .blog-post {
    background-color: inherit; /* Mesma cor do fundo */
    width: 260px;
    text-align: center;
    border: none; /* Remove bordas */
  }
  
  .blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-post h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: black; /* Títulos em branco */
  }
  
  .blog-post p {
    font-size: 1rem;
    padding: 0 10px;
    color: #36302A; /* Cor do texto dos parágrafos */
    text-align: justify;
  }
  
  .blog-post button {
    margin-top: 20px;
    padding: 4px 18px; /* Ajuste de tamanho do botão */
    background-color: #36302A; /* Cor do botão */
    color: white; /* Texto preto */
    font-size: 14px; /* Reduz o tamanho da fonte */
    font-family: inherit; /* Garante que a fonte seja a mesma do restante */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .blog-post button:hover {
    background-color: #574C3F;
  }
  