/* Estilo para a seção do Blog */
.blog-section {
    background-color: inherit; /* Mesma cor de fundo do restante do projeto */
    padding: 40px 20px;
    text-align: center;
  }
  
  .blog-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: white; /* Título em branco */
  }
  
  .blog-posts {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .blog-post {
    background-color: inherit; /* Mesma cor do fundo */
    width: 260px;
    text-align: center;
    border: none; /* Remove bordas */
  }
  
  .blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .blog-post h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: white; /* Títulos em branco */
  }
  
  .blog-post p {
    font-size: 1rem;
    padding: 0 10px;
    color: #e5d0e2; /* Cor do texto dos parágrafos */
    text-align: justify;
  }
  
  .blog-post button {
    margin-top: 20px;
    padding: 4px 18px; /* Ajuste de tamanho do botão */
    background-color: #fff5fd; /* Cor do botão */
    color: #000; /* Texto preto */
    font-size: 14px; /* Reduz o tamanho da fonte */
    font-family: inherit; /* Garante que a fonte seja a mesma do restante */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .blog-post button:hover {
    background-color: #0056b3;
  }
  