.contact-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px 120px 1px;
  background-color: #eee6dd;
  color: #36302A;
}

/* ESQUERDA */
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.contact-name {
  font-size: 60px;
  font-family: "Georgia", serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.social-text {
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.gallery-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-row img {
  width: 500px;       /* Mesma largura aproximada do título Clara Amaral */
  height: 100px;      /* Altura retangular */
  object-fit: cover;  /* Mantém a proporção cortando o excesso */
  border-radius: 0px;
}


/* DIREITA */
.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 30%;
}

.right-title {
  font-size: 22px;
  margin-bottom: 5px;
  font-family: "Georgia", serif;
}

.right-text {
  margin-bottom: 25px;
  font-size: 16px;
}

.right-text a {
  color: #36302A;
  text-decoration: underline;
}
