.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 30px;
  background-color: inherit; /* Mesma cor de fundo do projeto */
  height: 350px; /* Define a altura máxima */
}

.contact-image {
  flex: 1; /* Mantém o comportamento flexível */
  max-width: 235px; /* Limita a largura máxima da div */
  height: 300px;
  text-align: right;
}

.contact-image img {
  max-width: 100%;
  height: 300px; /* Ajusta a altura da imagem */
  width: auto; /* Mantém a proporção */
}

.contact-details {
  flex: 1;
  max-width: 650px;
  color: white; /* Texto branco */
  padding: 0 20px;
  overflow-y: auto; /* Garante que o conteúdo não ultrapasse a altura */
}

.contact-details h2 {
  font-size: 2rem; /* Reduz o tamanho do título */
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-details h2::after {
  content: ""; /* Cria a linha */
  display: block;
  width: 20%; /* Ajuste a largura da linha */
  height: 2px; /* Espessura da linha */
  background-color: #ffffff; /* Cor da linha */
  margin: 10px 0 0 0; /* Remove o alinhamento central */
}

.contact-details p {
  font-size: 0.9rem; /* Reduz o tamanho do texto */
  margin-bottom: 10px;
  color: #e5d0e2; /* Cor do texto dos parágrafos */
  text-align: justify;
}

.contact-info {
  font-size: 0.9rem; /* Reduz o tamanho do texto */
  line-height: 1.5;
}

.contact-info span {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  color: #e5d0e2; /* Cor do texto dos parágrafos */
}

.contact-info span i {
  font-size: 1.2rem; /* Reduz o tamanho do ícone */
}
