/* Navbar geral */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 120px;
  background-color: #fff6ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #36302a; /* Linha fina como riscar de lápis/caneta */
  font-family: url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');;
}

/* Logo */
.navbar-logo img {
  height: 40px; /* ajuste se necessário */
}

/* Itens do menu */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 15px;
  color: #36302a;
  transition: color 0.3s;
}

.navbar-menu li:hover {
  color: #b9a590;
}

/* Botão Home */
.home-button {
  border: 1px solid #36302a;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff6ed;
  box-shadow: none;
}
.home-button:hover {
  background-color: #ece4da;
}
