.photo-gallery {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px; /* Espaçamento menor entre as fotos */
    justify-content: center;
  }
  
  .photo-gallery img {
    height: 200px; /* Altura fixa */
    object-fit: cover;
    border-radius: 5px; /* Cantos levemente arredondados */
  }
  